jupyterlab
ipywidgets
numpy
pandas
scipy
statsmodels
matplotlib
matplotlib-venn
joypy
seaborn
fastcluster
scikit-learn
biopython
pyfaidx
bcbio-gff
scanpy
louvain
leidenalg
umap-learn
phate
ivis
igraph
parc
pycaret[full]
autokeras
